.travelBg{
    background-image: url(https://i.ibb.co/t8Kj3rw/travelBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #464646;
    height: fit-content;
}